@font-face {
  font-family: "MessinaSans";
  src: url("../fonts/MessinaSansWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Canela";
  src: url("../fonts/Canela-Light-Web.woff") format("woff");
}

@font-face {
  font-family: "MessinaSans";
  font-weight: 600;
  src: url("../fonts/MessinaSansWeb-SemiBold.woff") format("woff");
}

.margin-bottom-20 {
  margin-bottom: 20rem;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 37%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 240em) {
  html {
    font-size: 90%;
  }
}

body {
  font-family: 'MessinaSans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

.heading--intro {
  font-family: 'Canela', serif;
  color: #fff;
  font-size: 6.5rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: tracking-in-contract-bck 1.5s;
          animation: tracking-in-contract-bck 1.5s;
}

.heading--title {
  color: #fff;
  font-size: 1.6rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading--red {
  color: #d14128;
  -webkit-animation: none;
          animation: none;
  font-size: 3.5rem;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: normal;
    /*transform: translate(-50%, -50%);*/
    -webkit-transform: translate3d(-50%, -50%, 100px);
            transform: translate3d(-50%, -50%, 100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0px);
            transform: translate3d(-50%, -50%, 0px);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: normal;
    /*transform: translate(-50%, -50%);*/
    -webkit-transform: translate3d(-50%, -50%, 100px);
            transform: translate3d(-50%, -50%, 100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0px);
            transform: translate3d(-50%, -50%, 0px);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-15px);
    transform: scale(1.05) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-15px);
    transform: scale(1.05) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.welcome {
  position: relative;
  height: 100vh;
  padding: 4rem 6rem;
  z-index: 4;
}

@media (max-width: 48em) {
  .welcome {
    padding: 2rem 4rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.nav--icon {
  width: 12rem;
}

@media (max-width: 26.6em) {
  .nav--bar {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 150;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.nav--list {
  list-style: none;
}

@media (max-width: 26.6em) {
  .nav--list {
    text-align: center;
  }
}

.nav--item {
  display: inline-block;
}

.nav--item:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 26.6em) {
  .nav--item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 26.6em) {
  .nav--item {
    font-size: 7rem;
  }
}

.nav--link:link, .nav--link:visited {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 26.6em) {
  .nav--link:link, .nav--link:visited {
    position: relative;
  }
}

.nav--link::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 26.6em) {
  .nav--link::after {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.nav--link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__bg {
  visibility: hidden;
  display: none;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#CBBACC), to(#2580B3));
  background-image: linear-gradient(to bottom left, #CBBACC, #2580B3);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 4rem 5rem;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (max-width: 26.6em) {
  .nav__bg {
    visibility: visible;
    display: block;
  }
}

.nav__btn {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 3.5rem 4rem;
  border-radius: 50%;
  z-index: 200;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 26.6em) {
  .nav__btn {
    visibility: visible;
    display: block;
  }
}

.nav__check {
  display: none;
}

.nav__check:checked ~ .nav__bg {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.nav__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3rem;
  height: 2px;
  background-color: #111;
}

.nav__line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: #111;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.nav__check:checked + .nav__btn > .nav__line::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.nav__check:checked ~ .nav--bar {
  visibility: visible;
  opacity: 1;
}

.bg {
  position: relative;
}

.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.5;
  z-index: 2;
}

.bg--video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features {
  padding: 4rem 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 75rem;
      grid-template-rows: 8rem 75rem;
  -ms-grid-columns: (minmax(50rem, 64rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50rem, 64rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* &--cta:hover, &--cta:active{

    }*/
}

.features--heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: span 2;
}

@media (max-width: 56.25em) {
  .features--heading {
    font-size: 3rem;
  }
}

@media (max-width: 48em) {
  .features--heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .features--heading {
    font-size: 2.5rem;
    grid-column: auto;
  }
}

.features--text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 10rem;
}

@media (max-width: 48em) {
  .features--text {
    margin-top: 2rem;
  }
}

@media (max-width: 37.5em) {
  .features--text {
    grid-row: auto;
    grid-column: auto;
    margin-top: 5rem;
  }
}

.features--frame {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  -webkit-clip-path: inset(0 11% 0 11%);
          clip-path: inset(0 11% 0 11%);
}

.features--img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: kenburns-top 1s reverse;
}

.features--img-2 {
  width: 60rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 35rem;
  -ms-grid-column-align: left;
      justify-self: left;
}

@media (max-width: 56.25em) {
  .features--img-2 {
    width: 50rem;
  }
}

@media (max-width: 48em) {
  .features--img-2 {
    width: 40rem;
    margin-top: 40rem;
  }
}

@media (max-width: 37.5em) {
  .features--img-2 {
    grid-row: auto;
    grid-column: auto;
    -ms-grid-column-align: auto;
        justify-self: auto;
    margin-top: 5rem;
  }
}

.features--btn {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 25rem;
  position: relative;
}

@media (max-width: 48em) {
  .features--btn {
    margin-top: 25rem;
  }
}

@media (max-width: 37.5em) {
  .features--btn {
    grid-row: auto;
    grid-column: auto;
    margin-top: 5rem;
  }
}

.features--cta:link, .features--cta:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  border: solid 1px rgba(17, 17, 17, 0.35);
  padding: 2rem 4rem;
}

.features--cta-top {
  position: absolute;
  left: 0;
  top: -1.7rem;
  width: 12.8rem;
  height: 1px;
  background-color: #111;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.features--cta-bottom {
  position: absolute;
  left: 0;
  bottom: -1.7rem;
  width: 12.8rem;
  height: 1px;
  background-color: #111;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.30s;
  transition: -webkit-transform 0.30s;
  transition: transform 0.30s;
  transition: transform 0.30s, -webkit-transform 0.30s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.30s;
          transition-delay: 0.30s;
}

.features--cta-left {
  position: absolute;
  left: 0;
  top: -1.7rem;
  width: 1px;
  height: 6.1rem;
  background-color: #111;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.30s;
  transition: -webkit-transform 0.30s;
  transition: transform 0.30s;
  transition: transform 0.30s, -webkit-transform 0.30s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-delay: 0.30s;
          transition-delay: 0.30s;
}

.features--cta-right {
  position: absolute;
  right: 0;
  top: -1.7rem;
  width: 1px;
  height: 6.1rem;
  background-color: #111;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.features--btn:hover .features--cta-top {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.features--btn:hover .features--cta-bottom {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.features--btn:hover .features--cta-left {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.features--btn:hover .features--cta-right {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero {
  position: relative;
}

.hero__container {
  height: 80vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6464644b), to(#9198e570)), url(../images/img/frontview.jpg);
  background-image: linear-gradient(to bottom right, #6464644b, #9198e570), url(../images/img/frontview.jpg);
  background-size: cover;
  background-position: center;
}

.hero__svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
}

@media (max-width: 75em) {
  .hero__svg {
    display: none;
  }
}

@media (min-width: 112.5em) {
  .hero__svg {
    width: 6rem;
    height: 6rem;
  }
}

.hero__svg--1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__svg--2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__svg--3 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__hovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__hover {
  height: 100%;
  background-color: transparent;
  position: relative;
}

@media (max-width: 75em) {
  .hero__hover {
    display: none;
  }
}

.hero__hover--1 {
  width: 15%;
  margin-left: 16rem;
}

@media (min-width: 160em) {
  .hero__hover--1 {
    margin-left: 30rem;
  }
}

@media (min-width: 240em) {
  .hero__hover--1 {
    margin-left: 30rem;
  }
}

.hero__hover--2 {
  width: 32%;
}

@media (min-width: 112.5em) {
  .hero__hover--2 {
    width: 30%;
    margin-left: 5rem;
  }
}

.hero__hover--3 {
  width: 27%;
  margin-left: 2rem;
}

.hero__link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__rect {
  width: 18rem;
  position: absolute;
  -webkit-filter: drop-shadow(0px 0px 20px white);
          filter: drop-shadow(0px 0px 20px white);
}

@media (max-width: 75em) {
  .hero__rect {
    display: none;
  }
}

.hero__rect--1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  /*&::after{
                content: "";
                display: block;
                position: absolute;
                top: -8rem;
                left: -1.9rem;
                width: 2px;
                height: 10rem;
                background-color: #fcfcfc;
                opacity: 0.8;
                transform: rotateZ(-31deg);
            }*/
}

.hero__rect--1::before {
  content: "Dutchess";
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  font-size: 1.9rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__rect--2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  /*&::after{
                content: "";
                display: block;
                position: absolute;
                top: -8rem;
                left: -1.9rem;
                width: 2px;
                height: 10rem;
                background-color: #fcfcfc;
                opacity: 0.8;
                transform: rotateZ(-31deg);
            }*/
}

.hero__rect--2::before {
  content: "Delavergne";
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  font-size: 1.9rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__rect--3 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  /*&::after{
                content: "";
                display: block;
                position: absolute;
                top: -8rem;
                left: -1.9rem;
                width: 2px;
                height: 10rem;
                background-color: #fcfcfc;
                opacity: 0.8;
                transform: rotateZ(-31deg);
            }*/
}

.hero__rect--3::before {
  content: "Corn Wall";
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  font-size: 1.9rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__hover--1:hover .hero__rect--1 {
  opacity: 1;
}

.hero__hover--2:hover .hero__rect--2 {
  opacity: 1;
}

.hero__hover--3:hover .hero__rect--3 {
  opacity: 1;
}

.hero__svg--1:hover + .hero__rect--1 {
  opacity: 1;
}

.hero__svg--2:hover + .hero__rect--2 {
  opacity: 1;
}

.hero__svg--3:hover + .hero__rect--3 {
  opacity: 1;
}

.hero__rect--1:hover {
  opacity: 1;
}

.hero__rect--2:hover {
  opacity: 1;
}

.hero__rect--3:hover {
  opacity: 1;
}

.property__container {
  padding: 4rem 6rem;
}

.property__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property__detail--ordered {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 37.5em) {
  .property__detail--ordered {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .property__detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.property__img {
  height: 60vh;
  width: 35%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 37.5em) {
  .property__img {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
    height: 35vh;
    margin-bottom: 5rem;
  }
}

.property__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 37.5em) {
  .property__content {
    margin-top: 3rem;
  }
}

.property__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.property__cta:link, .property__cta:visited {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2rem;
  text-decoration: none;
  color: #111;
  font-weight: 600;
  padding: 1rem;
  z-index: 2;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.property__cta:link::after, .property__cta:visited::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #111;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.property__cta:active, .property__cta:hover {
  color: #fff;
}

.property__cta:active::after, .property__cta:hover::after {
  height: 100%;
}

.property__cta:active {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.residence__bg {
  height: 80vh;
}

.residence__video {
  height: 100%;
  width: 100%;
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
  -o-object-fit: cover;
     object-fit: cover;
}

.kitchen {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6464644b), to(#9198e570)), url(../images/img/kitchen.jpg);
  background-image: linear-gradient(to bottom right, #6464644b, #9198e570), url(../images/img/kitchen.jpg);
  padding: 4rem 6rem;
}

.kitchen__heading {
  margin-bottom: 4rem;
  color: #00ffd0;
}

.kitchen__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 5rem;
}

.kitchen__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 3rem;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  cursor: context-menu;
}

.kitchen__element:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.kitchen__img {
  width: 55rem;
  margin-right: 2rem;
}

.kitchen__image {
  width: 100%;
}

.golf {
  position: relative;
}

.golf__bg {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6464644b), to(#9198e570)), url(../images/img/golfcourse.jpg);
  background-image: linear-gradient(to bottom right, #6464644b, #9198e570), url(../images/img/golfcourse.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: left;
}

.golf__btn {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.golf__cta:visited, .golf__cta:link {
  position: relative;
  color: #fff;
  text-decoration: none;
  border: solid 1px #fff;
  padding: 2rem;
  font-size: 2rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s cubic-bezier(0.24, 0.85, 0.24, 0.85);
  transition: all 0.6s cubic-bezier(0.24, 0.85, 0.24, 0.85);
}

.golf__cta:visited::after, .golf__cta:link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #111;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.24, 0.85, 0.24, 0.85);
  transition: -webkit-transform 0.9s cubic-bezier(0.24, 0.85, 0.24, 0.85);
  transition: transform 0.9s cubic-bezier(0.24, 0.85, 0.24, 0.85);
  transition: transform 0.9s cubic-bezier(0.24, 0.85, 0.24, 0.85), -webkit-transform 0.9s cubic-bezier(0.24, 0.85, 0.24, 0.85);
}

.golf__cta:active::after, .golf__cta:hover::after {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  width: 25%;
  padding: 4rem 6rem;
  text-align: center;
}

@media (max-width: 48em) {
  .footer__left {
    padding: 2rem 3rem;
  }
}

.footer__img {
  width: 60%;
}

@media (max-width: 48em) {
  .footer__img {
    width: 15rem;
    height: 100%;
  }
}

@media (max-width: 20em) {
  .footer__img {
    width: 8rem;
    height: 100%;
  }
}

.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #024533;
  padding: 4rem 6rem;
}

@media (max-width: 48em) {
  .footer__right {
    padding: 2rem 3rem;
  }
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.footer__contacts {
  list-style: none;
}

.footer__elements:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__elements-highlight {
  color: #777;
  margin-right: 0.3rem;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #fff;
  background-color: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.footer__link:link::after, .footer__link:visited::after {
  display: block;
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer__link:active::after, .footer__link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__nav {
  list-style: none;
}

.footer__highlights {
  list-style: none;
}

.footer__typo {
  font-family: 'Canela', sans-serif;
  font-weight: 400;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */