$color-white: #fff;
$color-red: #d14128;
$color-grey: #777;
$color-light-yellow: #f9f6ea;
$color-green: #024533; 
$color-black: #111;
$color-black2: #000000;

.margin-bottom-20{
    margin-bottom: 20rem;
}